body {
    font-family: sans-serif;
}

header{
    border: 5px solid blue;
    border-radius: 10px;
}

header a{
    background-color: royalblue;
    color: white;
    border-radius: 4px;
    font-family: sans-serif;
    text-decoration: none;
}

h1{
    border: 5px solid purple;
    border-radius: 30px;
    text-align: center;
    color: orange ;
}

footer p{
    border: 3px solid gray;
}

nav{
    background-color: white;
    border-radius: 10px;
    font-size: 35px;
    text-align: center;
    border: 3px solid gray;
    color: gray;
}

nav a{
    text-decoration: none;
    font-family: sans-serif;
    padding: 30px;
    font-size: 20px;
    margin: 10px;
    text-align-last: center;
    color: gray;
}
